<div class="col-sm-6 col-md-3" style="min-height: 400px;">
	<div class="panel panel-success">
		 
		  <div class="panel-heading">
		    <h2 class="panel-title"><strong>{{product.name}}</strong>&nbsp;</h2>
		  </div>
		  
		  <div class="panel-body">
		    <a data-ui-sref="product({id:product.id})" class="thumbnail">
			<img class="img-responsive" alt="{{product.name}}" data-ng-src="app/products/img/{{product.fileName}}">
			</a>
			<div>
				<a href="#" class="btn btn-block btn-warning " role="button"> Add to Cart <span class="">{{product.price | currency}}</span> </a> 
			</div>
		  </div>
	</div>
</div>
