<div class="col-sm-6 col-md-3" style="height: 400px;">
	<div class="panel panel-primary">
		 
		  <div class="panel-heading">
		    <h3 class="panel-title">{{product.name}}</h3>
		  </div>
		  
		  <div class="panel-body">
		    <a data-ui-sref="product({id:product.id})" class="thumbnail">
			<img class="img-responsive" alt="{{product.name}}" data-ng-src="app/products/img/{{product.fileName}}">
			</a>
			<div align="right">
				<a href="#" class="btn btn-success btn-sm" role="button"> Add to Cart </a> 
			</div>
		  </div>
	</div>
</div>
