<div class="row">
	<div data-ng-repeat="product in products track by $index"  >
		<a ui-sref="product({id:product.id})" >
			<div class="col-sm-6 col-md-3" class="well" style="height: 400px;">
				<div class="thumbnail">
					<img class="img-responsive" alt="{{product.name}}" src="app/products/img/{{product.fileName}}">
				</div>
	
				<div class="caption">
					<h3>{{product.name}}</h3>
					<p>{{product.description}}</p>
	
					<!-- <p>
						<a href="#" class="btn btn-primary" role="button"> Button </a> 
						<a href="#" class="btn btn-default" role="button"> Button </a>
					</p> -->
	
				</div>
			</div>
		</a>
	</div>
</div>